body{
    background-color:#FFE4B5 ; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF7F50;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
      
  }
  
  li {
    float: left;
    border-right: 2px solid black;
  }
  
  li a {
    display: block;
    color: #FFE4B5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  p{
    color: black;
    font-size: 20px;
  }
  h1{
    color:black;
  }
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color:#FFE4B5;
  }/*o navegador identica em que pagina esta*/
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 6px solid  #FF7F50;
}
/*INICIO DA GALERIA DE FOTOS*/
div.gallery {
  margin: 10px;
  border: 3px solid black;
  float: left;
  width: 230px;
}

div.gallery:hover {
  border: 3px solid black;
}

div.gallery img {
  width: 230px;
  height: 300px;
}

div.desc {
  padding: 20px;
  text-align: center;
}